

html {
  background: #555;
  margin: 0px;
  padding: 0px;
}

@keyframes marching_ants {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 16;
  }
}

$ant_size: 8;
$march_speed: 0.34s;
$march_lunges: 12;

@keyframes marching_ants {
  0%   {stroke-dashoffset: 0;}
  100% {stroke-dashoffset: $ant_size*2;}
}
.ants {
  animation:
    marching_ants
    $march_speed
    steps($march_lunges)
    infinite;
  stroke-dasharray: $ant_size;
}

svg {
  background: #333;
  border: 1px solid black;
  height: 600px;
  width: 100%;
}



circle {
  cursor: default;
  stroke-width: 2;
  stroke: red;
  fill: transparent;
  opacity: 0.7;

}

g {
  fill: #bada55;
  fill-opacity: 0.3;
  pointer-events: all;
}

g:hover {
  fill-opacity: 0.7;
}

g circle {
  display: none;
  fill: #bada55;
}



g:hover circle {
  display: block;
  fill: #bada55;
  stroke-width: 0;
  opacity: 0.7

}

g circle:hover {
  fill: #bada55;
  stroke-width: 0;
  opacity: 1.0

}

.dragging > polygon{
  fill: #bada55;
  fill-opacity: 0.7;
  cursor: default;
}


.dragging > circle {
  fill: #bada55;
  stroke-width: 0;
  opacity: 0.7
}



circle:hover {
  opacity: 1;
}

line {
  stroke-width: 1;
  stroke: #aaa;
}


