html {
  background: #555;
  margin: 0px;
  padding: 0px;
}


svg {
  background: #333;
  height: 600px;
  width: 100%;
  margin-top: 8px;
}



circle {
  cursor: default;
  stroke-width: 4;
  stroke: #bada55;
  fill: transparent;
  opacity: 0.5;

}

g {
  fill: #bada55;
  fill-opacity: 0.3;
  pointer-events: all;
}


g circle {
  display: none;
  fill: #bada55;
}


polygon {
 filter: url(#innershadow);
}

g:hover circle {
  display: block;
  fill: #bada55;
  stroke-width: 0;
  opacity: 0.7

}

g circle:hover {
  stroke-width: 0;
  opacity: 1.0

}

.dragging > polygon{
  fill: #bada55;
  cursor: default;
}


.dragging > circle {
  fill: #bada55;
  stroke-width: 0;
  opacity: 0.7
}



circle:hover {
  opacity: 1;
}

line {
  stroke-width: 1;
  stroke: #aaa;
}

